
/* Styles for the "Places" section */
section.places {
    width: 100%;
    margin-top: 20px; /* Adds top margin to the section */
}

/* Styles for the places section title */
.places h1 {
    font-size: 30px; /* Sets the font size to 30px */
    text-align: left; /* Aligns the text to the left */
}

/* Styles for the individual place listings */
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-direction: column;
}

/* Styles for the place listing title */
.places article h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: none;
}

/* structure within boxed lists of places */
div.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left: auto;
    margin-top: none;
    position: relative;
    top: -30px;
}

/* Styles for the price_by_night paragraph within div */
div.price_by_night p {
    text-align: center;
    line-height: 0px;
}

div.user p {
    font-weight: 600;
}

div.description p {
    text-align: left;
}

/* Styles for the information section */
div.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}

/* Styles for max_guest, number_rooms, and number_bathrooms sections */
div.max_guest,
div.number_rooms,
div.number_bathrooms {
    line-height: 140px;
    width: 100px;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
}

/* Background image for max_guest section */
.max_guest {
    background-image: url("../images/icon_group.png");
}

/* Background image for number_rooms section */
.number_rooms {
    background-image: url("../images/icon_bed.png");
}

/* Background image for number_bathrooms section */
.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

/* Styles for user and description sections */
div.user, div.description {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px; /* Add margin at the bottom */
    margin-top: 5px; /* Add margin at the top */
}
